.navbar {
  background-color: rgb(201, 201, 195) !important;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  animation: slideDown 0.8s ease;
}

.navbar-brand {
  transition: 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.08);
}

.navbar .btn {
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  transform: translateY(-3px);
}